h1 {
    font-family: Arial, Helvetica, sans-serif;
}

a:hover {
    color: #ed7a39;
}

a {
    text-decoration: none;
    
}

.nav {
    display: inline;

}

nav li {
    display: inline;
    padding-right: 35px;
    font-size: 20px;

}

nav {
    float: right;
}

* {
     color: black; 

}

p {
    font-size: 20px;
}



.active a {
    color: #ed7a39;
   
}

li{
    font-weight: bold;
}