h1 {
    font-family: Arial, Helvetica, sans-serif;
}



a {
    text-decoration: none;
    
}

.nav {
    display: inline;

}

nav li {
    display: inline;
    padding-right: 35px;
    font-size: 20px;

}

nav {
    float: right;
}

* {
     color: black; 

}

p {
    font-size: 20px;
}



.active a {
    color: #ed7a39;
   
}

li{
    font-weight: bold;
}

.footer{
    color: grey;
    font-size: 13px;

}

footer{
    background-color: black;
}

#links{
    color:white;
    text-align: center;
    vertical-align: text-top;
}

#mail{
     color: white;
    
}

#tel{
    color:white
}

a:hover {
    color: #ed7a39 !important;
}

.voorwaarden{
    margin-left: 25px;
}
#facebook{
    font-weight: bold;
    margin-left: 600px;
}
#linkedin{
    font-weight: bold;
    margin-left: 15px;
}

#instagram{
    margin-left: 15px;
    
}

#article{
    margin-right: 20%;
    text-align: left;
    font-family: sans-serif;
    
}

.h1{
    font-size: 30px;
}

.h2{
    font-size: 20px;
}

.p{
    font-size: 17.5px;
    color: #8a8686;
}