
h1 {
    font-family: Arial, Helvetica, sans-serif;
}


a {
    text-decoration: none;

}

.nav {
    display: inline;
    

}

nav li {
    display: inline;
    padding-right: 35px;
    font-size: 20px;

}



nav {
    float: right;
}

* {
    color:black;

}

p {
    font-size: 20px;
}



.active a {
    color: #ed7a39;

}

li {
    font-weight: bold;
}

.footer {
    color: grey;
    font-size: 13px;

}



#links {
    color: white;
    text-align: center;
    vertical-align: text-top;
}

#footer-text{
    color:white;
}

#mail {
    color: white;

}

#tel {
    color: white
}

a:hover {
    color: #ed7a39 !important;
}

.voorwaarden {
    margin-left: 25px;
}

#facebook {
    font-weight: bold;
    margin-left: 590px;
}

#linkedin {
    font-weight: bold;
    margin-left: 15px;
}

#instagram {
    
    margin-left: 10px;
}

#article {
    margin-right: 20%;
    text-align: left;
    font-family: sans-serif;

}

.h1 {
    font-size: 30px;
}

.h2 {
    font-size: 20px;
}

.p {
    font-size: 17.5px;
    color: #8a8686;
}

.link_privacy {
    color: #ed7a39;
}

.symbool{
    color:white !important;
}

#quick-links{
    color:white;
    margin-left: 800px;
}

footer {
    background-color: black;
    
}

aside{
    background-color: black;
    width:20%;
    float: right;
    height: 235px;;
}
